.formulario-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 650px;
    padding: 30px;
}

.formulario {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    width: 400px;
    box-sizing: border-box;
}

.formulario h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.formulario label {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

form input {
    width: 350px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border: 1px solid #ccc;
}

button {
    background-color: #751821;
    border: 1px solid #751821;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    width: 300px;
    text-align: center;
    transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

button:hover {
    background-color: #5a1219;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
}

.mensagem-erro {
    background-color: #ffdddd;
    color: #d8000c;
    border: 1px solid #d8000c;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

select {
    width: 350px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
    background-color: #fff;
    color: #555;
    cursor: pointer;
    transition: border-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
}