<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
    <body>
        <h1>Funcionários</h1>
        <br>
        <table th:if="${lista.size()} > 0">
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Cpf</td>
                <td>E-mail</td>
                <td>Função</td>
            </tr>
            <tr th:each="funcionarios : ${lista}">
                <td th:text="${funcionarios.id}"></td>
                <td th:text="${funcionarios.nome}"></td>
                <td th:text="${funcionarios.cpf}" ></td>
                <td th:text="${funcionarios.email}" ></td>
                <td th:text="${funcionarios.funcao}" ></td>
                <td><a th:href="@{/funcionarios/{id}/excluir(id=${funcionarios.id})}">Excluir</a></td>
            </tr>
        </table>
        <form th:action="@{/funcionarios/salvar}" th:object="${elemento}" method="post">
            <table>
                <tr>
                    <td>
                        <input placeholder="Nome" type="text" th:field="*{nome}">
                    <td></td>
                    <td>
                        <input placeholder="CPF" type="text" th:field="*{cpf}">
                    </td>
                    <td>
                        <input placeholder="E-mail" type="text" th:field="*{email}" >
                    </td>
                    <td>
                        <input placeholder="Função" type="text" th:field="*{funcao}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Salvar</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>