<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
    <title>Clinica Vet</title>
</head>
<body>
<nav class="navegacao">
    <div class="nav-logo">
        <a th:href="@{/home}"><img th:src="@{/images/logo.png}" alt="Logo"></a>
    </div>
    <ul class="nav-lista">
        <li><a th:href="@{/home}" class="ativo">PÁGINA INICIAL</a></li>
        <li><a th:href="@{/funcionarios}">FUNCIONÁRIOS</a></li>
        <li><a th:href="@{/logout}" class="sair">SAIR</a></li>
    </ul>
</nav>

<div>
    <canvas id="chart">
    </canvas>
</div>

<footer class="footer">
    <p>	&copy; 2024 Hospital VET. Todos os direitos reservados </p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:inline="javascript">
    let entidade = /*[[${grafico}]]*/ [];
    console.log("Dados recebidos para o gráfico:", entidade);
</script>

<script>
    const ctx = document.getElementById('chart');
    console.log(entidade)
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: entidade.labels,
            datasets: [{
                label: entidade.legenda,
                data: entidade.valores,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: entidade.titulo,
                    font: {
                        size: 16
                    }
                },
            },
            label: {display: false},
            scales: {
                x: {
                    title: {
                        display: true,
                        text: entidade.xlabel
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: entidade.legenda
                    }
                }
            }
        }
    });
</script>
</body>
</html>