<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
    <body>
        <h1>Funcionários</h1>
        <br>
        <table th:if="${lista.size()} > 0">
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Cpf</td>
                <td>E-mail</td>
                <td>Função</td>
            </tr>
            <tr th:each="i : ${lista}">
                <td th:text="${i.id}"></td>
                <td th:text="${i.nome}"></td>
                <td th:text="${i.cpf}" ></td>
                <td th:text="${i.email}" ></td>
                <td th:text="${i.funcao}" ></td>
            </tr>
        </table>
    </body>
</html>