<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>Clinica Vet</title>
</head>
<body>
<nav class="navegacao">
    <div class="nav-logo">
        <a th:href="@{/home}"><img th:src="@{/images/logo.png}" alt="Logo"></a>
    </div>
    <ul class="nav-lista">
        <li><a th:href="@{/home}" class="ativo">PÁGINA INICIAL</a></li>
        <li><a th:href="@{/funcionarios}">FUNCIONÁRIOS</a></li>
        <li><a th:href="@{/logout}" class="sair">SAIR</a></li>
    </ul>
</nav>

<div class="nova-consulta">
    <form th:action="@{/consultas}">
        <input type="submit" value="Nova Consulta" />
    </form>
</div>

<div class="links">
    <a th:href="@{/clientes}" class="image-container">
        <img th:src="@{/images/img1.png}" alt="Clientes">
        <div class="overlay">
            <h1>CLIENTES</h1>
        </div>
    </a>
    <a th:href="@{/animais}" class="image-container">
        <img th:src="@{/images/img2.png}" alt="Animais">
        <div class="overlay">
            <h1>ANIMAIS</h1>
        </div>
    </a>
    <a th:href="@{/exames}" class="image-container">
        <img th:src="@{/images/img3.png}" alt="Exames">
        <div class="overlay">
            <h1>EXAMES</h1>
        </div>
    </a>
    <a th:href="@{/}" class="image-container">
        <img th:src="@{/images/img4.png}" alt="Gráfico">
        <div class="overlay">
            <h1>GRÁFICO</h1>
        </div>
    </a>
</div>

<footer class="footer">
    <p>	&copy; 2024 Hospital VET. Todos os direitos reservados </p>
</footer>
</body>
</html>